.body {
    font-family: 'Open Sans', sans-serif;
}

.page2 {
    background-image: url(this\ pattern\ will\ be\ repeating.png);
    background-repeat: repeat;
}

.page3 {
    background-image: url(this\ pattern\ will\ be\ repeating.png);
    background-repeat: repeat;
}

.hero-banner {
    background-image: url(hero\ image.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.hero-banner-page-2 {
    background-image: url(Page\ 2\ Banner.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.hero-banner-page-3 {
    background-image: url(page-3\ hero\ banner.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.img-thumbnail {
    border: none;
}

.explore {
    position: fixed;
}


/* 
.months1, .days1{
} */

#mnthsItem {
    position: absolute;
    top: 30%;
    left: 30%;
}

#daysItem {
    position: absolute;
    top: 7%;
    left: 35%;
}


/* #daysItem1 {
    min-height: 179.33px;
    background:url('car\ 1.png') no-repeat center center ;
    background-size:cover;
    width:100%;
    padding-top:20%;
    padding-bottom:20%;
} */

#daysRadio {
    margin-left: -13%;
    margin-top: -7%;
}

@media(max-width: 575px) {
    #mnthsItem {
        position: absolute;
        top: 30%;
        left: 40%;
    }
}

.card-shadow {
    border: none;
    box-shadow: 1px 2px 5px #222;
    transition: all .4s;
}

.card-shadow:hover {
    border: none;
    box-shadow: 5px 10px 25px #111;
    transform: translateY(-3px);
}

.searchbar {
    margin-bottom: auto;
    margin-top: auto;
    height: 60px;
    background-color: #34a853;
    border-radius: 30px;
    padding: 10px;
}

.search_input {
    color: white;
    border: 0;
    outline: 0;
    background: none;
    width: 0;
    caret-color: transparent;
    line-height: 40px;
    transition: width 0.4s linear;
}

.searchbar:hover>.search_input {
    padding: 0 10px;
    width: 250px;
    caret-color: red;
    transition: width 0.4s linear;
}

.searchbar:hover>.search_icon {
    background: white;
    color: #e74c3c;
}

.search_icon {
    height: 40px;
    width: 40px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: white;
}

@media(max-width: 371px) {
    .searchbar:hover>.search_input {
        padding: 0 10px;
        width: 75%;
        caret-color: red;
        transition: width 0.5s linear;
    }
}

#btnChoosePlan {
    position: absolute;
    top: 85%;
    left: 32%;
}

#weatherShade {
    height: 35%;
    width: 65%;
    position: absolute;
    top: 37%;
    left: 35%;
}

#btnHolidayType {
    position: absolute;
    top: 85%;
    left: 30%
}

#weatherupdate {
    height: 35%;
    width: 70%;
    position: absolute;
    top: 38%;
    left: 38%;
}

.wthrHead {
    margin-top: 4px;
    font-size: 16;
}

.wthrHeader {
    position: absolute;
    top: 5%;
    left: 35%;
}

.wthrHeader .head {
    font-size: 1.50rem;
}

.wthrHeader .subHead {
    font-size: 1.15rem;
}

#wthrDay {
    font-size: 11px;
}

.wthrTemp {
    font-size: 14px !important;
    margin-top: 3px;
}

.wthrRight {
    margin-top: 10px;
    max-width: 44% !important;
}

.wthrLeft {
    max-width: 44% !important;
}

.wthrStat {
    font-size: 12px;
}

.minMaxl {
    position: absolute;
    top: 30%;
    left: 13%;
}

.visitorCounter {
    position: absolute;
    top: 30%;
    left: 36%;
}

.visitorType {
    position: absolute;
    top: 30%;
    left: 72%;
}

.counterLeft {
    position: absolute;
    top: 42%;
    left: 54%;
}

.plus {
    margin-bottom: 10px;
}

.typeName {
    margin-top: 5px;
    margin-bottom: 5px;
}

.visitorCounterRight {
    position: absolute;
    top: 30%;
    left: 59%;
}

.visitorTypeRight {
    position: absolute;
    top: 30%;
    left: 15%;
}

.counterRight {
    position: absolute;
    top: 42%;
    left: 45%;
}

.minMaxR {
    position: absolute;
    top: 40%;
    left: 70%;
}


/*=============================================================================*/


/*===================================== Page 2 ================================*/


/*=============================================================================*/

.page2 {
    background-image: url(this\ pattern\ will\ be\ repeating.png);
    background-repeat: repeat;
}

#bodyContent {
    border-radius: 40px;
    background: rgba(203, 222, 206, 0.7);
}

.smbld {
    font-weight: 600;
}

.fnt64 {
    font-size: 64px !important;
}

.fnt32 {
    font-size: 32px !important;
}

.fnt48 {
    font-size: 48px !important;
}

.fnt24 {
    font-size: 24px !important;
}

.fnt20 {
    font-size: 20px !important;
}

.fnt18 {
    font-size: 18px !important;
}

.fnt16 {
    font-size: 16px !important;
}

.fnt14 {
    font-size: 16px !important;
}

.op4 {
    opacity: .4;
}

.op6 {
    opacity: .6;
}

.page2-DepartureTo .font-weight-bold {
    font-size: 24px;
}

.bc-1-header {
    border-radius: 40px 40px 0px 0px;
    background: rgba(171, 210, 171, .7);
    background-size: cover;
}

.downArrowWhite {
    margin-bottom: 5px;
}

.departuereTo {
    background-image: url(pic1.png);
    background-repeat: no-repeat;
    border-radius: 40px;
    background-size: cover;
}

.flyTo {
    background-image: url(pic\ 2.png);
    background-repeat: no-repeat;
    border-radius: 40px;
    background-size: cover;
}

.flyTo2 {
    background-image: url(pic\ 2\ v2.png);
    background-repeat: no-repeat;
    border-radius: 40px;
    background-size: cover;
}

.flyTo3 {
    background-image: url(pic\ 3\ v2.png);
    background-repeat: no-repeat;
    border-radius: 40px;
    background-size: cover;
}

.round {
    border-radius: 20px;
}

.roundFourty {
    border-radius: 40px;
}

.pick {
    background-color: #ffc933;
    border-radius: 30px;
    color: white;
}

#dropdownMenuLink {
    color: #6c757d;
    background-color: transparent;
    background-image: none;
    border-color: #343a40;
}

#dropdownMenuLink:hover {
    color: #fff !important;
    background-color: #343a40;
    border-color: #343a40;
}

@media screen and (max-width: 414px) {
    .resizedDdButtonText {
        display: none;
    }
    #dropdownMenuLink {
        margin: 0px auto;
    }
}

@media screen and (max-width: 263px) {
    #second-button {
        margin-top: 10px;
    }
}

@media screen and (max-width: 466px) {
    #second-buttonftr {
        margin-top: 10px;
    }
}


/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
    .holidayBtn{
        margin-left: -65px !important;
    }
}


/* 
    ##Device = Laptops, Desktops
    ##Screen = B/w 1025px to 1280px
  */

@media (min-width: 1025px) and (max-width: 1280px) {
    /* #btnHolidayType {
        position: absolute;
        top: 85%;
        left: 27%;
    } */
    .holidayBtn{
        margin-left: -65px !important;
    }
}


/* 
    ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 768px to 1024px
  */

@media (min-width: 768px) and (max-width: 1024px) {


    /* 
        ##Device = Tablets, Ipads (landscape)
        ##Screen = B/w 768px to 1024px
    */

    /* #btnHolidayType {
        position: absolute !important;
        top: 82% !important;
        left: 0;
        right: 0;
        margin: auto;
    } */

    .holidayBtn{
        margin-left: -65px !important;
    }
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    /* #btnHolidayType {
        width: 70% !important;
    } */
    .holidayBtn{
        margin-left: -65px !important;
    }
}


/* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
  */

@media (min-width: 481px) and (max-width: 767px) {
    .holidayCard, planCard {
        width: 85%;
    }
    .holidayBtn {
        margin-left: -39px !important;
        font-size: 10px !important;
        padding-top: 4px !important;
        padding-bottom: 4px !important;
        padding-left: 13px !important;
        padding-right: 13px !important;
    }
    /* #btnHolidayType {
        width: 70% !important;
    } */
}





#btnHolidayType {
    position: absolute !important;
    top: 80% !important;
    left: 50%;
    right: 50%;
    margin: auto;
}


/* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
  */

@media (min-width: 320px) and (max-width: 480px) {
    .fnt64 {
        font-size: 32px !important;
    }
    .fnt48 {
        font-size: 48px !important;
    }
    .fnt32 {
        font-size: 24px !important;
    }
    .fnt24 {
        font-size: 16px !important;
    }
    .fnt20 {
        font-size: 16px !important;
    }
    .fnt18 {
        font-size: 16px !important;
    }
    .fnt16 {
        font-size: 12px !important;
    }
    .fnt14 {
        font-size: 14px !important;
    }
    .col-6 {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        min-width: 50%;
    }
    .holidayCard, planCard {
        width: 75%;
    }

    
}

@media (min-width: 341px) and (max-width: 480px){
    .holidayCard, planCard {
        width: 75%;
    }
    .holidayBtn {
        margin-left: -39px !important;
        font-size: 8px !important;
        padding-top: 2px !important;
        padding-bottom: 2px !important;
        padding-left: 8px !important;
        padding-right: 8px !important;
    }
    #btnHolidayType {
        position: absolute !important;
        top: 75% !important;
        left: 59%;
        right: 50%;
        margin: auto;
    }
    /* #btnHolidayType {
        width: 70% !important;
    } */
}
@media (max-width: 340px){
    .holidayCard, planCard {
        width: 75%;
    }
    .holidayBtn {
        margin-left: -65px !important;
    }
    /* .holidayBtn {
        margin-left: -39px !important;
        font-size: 8px !important;
        padding-top: 2px !important;
        padding-bottom: 2px !important;
        padding-left: 8px !important;
        padding-right: 8px !important;
    }
    #btnHolidayType {
        position: absolute !important;
        top: 75% !important;
        left: 59%;
        right: 50%;
        margin: auto;
    } */
    /* #btnHolidayType {
        width: 70% !important;
    } */
}






/* Social Share */

.socialShare {
    right: 10px;
    float: right;
    position: fixed;
    z-index: 999;
    top: 75%;
}

.socialShare li {
    list-style-type: none;
    position: relative;
    border-radius: 50px;
}

.socialShare li i {
    padding: 20px;
    transition: .5s;
    font-size: 60px;
}

.socialShare li i:hover {
    padding: 20px 2px;
    font-size: 60px;
}


/* End Social Share */


/* Enquary */

.enquary {
    right: -4px;
    float: right;
    position: fixed;
    z-index: 999;
    top: 20%;
}

.enquary li {
    list-style-type: none;
    position: relative;
    border-radius: 50px;
}

.enquary li i {
    padding: 20px;
    transition: .5s;
    font-size: 60px;
}

.enquary li i:hover {
    padding: 20px 2px;
    font-size: 60px;
}


/* End Enquary */


/* Amit */

.search-fix.fixed {
    background: #fff;
    position: fixed;
    top: 0;
    background: #f2f2f2;
    width: 100%;
    left: 0;
    padding: 15px 10px;
}

.search-fix.fixed .search-box {
    max-width: 700px;
    margin: auto;
}

.search-cnt {
    max-width: 670px;
    position: absolute;
    margin-left: -300px;
    left: 50%;
    z-index: 9999;
    color: #fff;
    top: 20%;
}

.search-cnt h1 {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 75px;
    text-shadow: 0px 0px 5px rgba(150, 150, 150, 0.45);
    text-align: center;
}

.search-cnt p {
    text-transform: uppercase;
    font-size: 29px;
    text-shadow: 0px 0px 5px rgba(150, 150, 150, 0.45);
    text-align: center;
}

.search-box {
    background: #fff;
    border-radius: 5px;
    overflow: hidden;
}

.search-box input[type='text'] {
    width: calc(100% - 80px);
    border: none;
    padding: 5px 15px;
    box-sizing: border-box;
    outline: none;
    float: left;
    height: 45px;
    line-height: 45px;
}

.search-box .search-btn {
    background: #34a853 url(../images/search-btn.jpg) no-repeat center;
    width: 80px;
    padding: 5px 15px;
    box-sizing: border-box;
    height: 45px;
    line-height: 45px;
    border: none;
    outline: none;
}

.scroll {
    animation: move 1s infinite alternate;
}

@keyframes move {
    from {
        transform: translateY(0px);
    }
    to {
        transform: translateY(25px);
    }
}


/* .box{
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.box #scroller{
    display: block;
    width: 20px;
    height: 20px;
    border-bottom: 1px solid #fff;
    border-right: 1px solid #fff;
    margin: -10px;
    animation: animate 2s infinite;
    line-height: -25px;
}

.box span:nth-child(2){
    animation-delay: -.2s;
    transform: rotate(45deg) translate(-20px, -20px);
}
.box span:nth-child(3){
    animation-delay: -.4s;
    transform: rotate(45deg) translate(20px, 20px);
}

@keyframes animate{
    0%{opacity: 0;}
    50%{opacity: 1;}
    100%{opacity: 0;}
} */


/* Test Css */

.mnthCard {
    transition: all .4s;
    /* background-color: transparent !important;
    background-image: url(apr.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover; */
}

.mnthCardBody {
    padding: 1rem !important;
}

.mnthCard:hover {
    transform: translateY(-5px);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, .07);
    border-color: rgba(100, 121, 143, .24);
    background-color: rgba(47, 209, 93, .03);
}

.mnthCard1 {}